body {
    font-family: "Courier New", sans-serif;
    text-align: center;
}
.primary {
    font-size: 400%;
    margin: 0.5em;
}
.secondary {
    font-size: 300%;
    margin: 0.5em;
}
.info {
    font-size: 200%;
}
